#portfolio h2 {
  color: var(--color-titles);
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.container.portfolio__container {
  width: 40%;
  padding-bottom: 3.5rem;
}

.portfolio__projects-react, .portfolio__projects-noReact {
  margin-bottom: 1.5rem;
}

.portfolio__projects-noReact {
  margin-top: 1.5rem;
}

.portfolio__card {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-radius: 2rem;
  transition: var(--transition);
}

.portfolio__project,
.portfolio__item-cta {
  background: var(--color-card);
}

.portfolio__card:hover .portfolio__project,
.portfolio__card:hover .portfolio__item-cta {
  left: 0;
}

.portfolio__card:hover img {
  opacity: 0.8;
  filter: grayscale(0.6);
  transition: var(--transition);
}

.portfolio__card img {
  width: 100%;
  height: 250px;
  transition: var(--transition);
  overflow: hidden;
}

.portfolio__project {
  padding-top: 0.2rem;
  height: 70px;
  width: 400px;
  position: absolute;
  bottom: 80px;
  left: -450px;
  transition: var(--transition);
  background: var(--color-bg-variant);
  border-top-right-radius: 2rem;
}

.portfolio__project h3 {
  padding-left: 10px;
  font-size: 1.5rem;
  color: var(--color-titles);
}

.portfolio__project p {
  padding-left: 10px;
  font-size: 0.8rem;
  color: var(--color-light);
  transition: var(--transition);
}

.portfolio__project .portfolio__item-cta {
  background: var(--color-bg-variant);
  padding-bottom: 2rem;
  padding-left: 10px;
  padding-top: 0.8rem;
  margin-left: 0;
}

.portfolio__project .portfolio__item-cta a:nth-child(1) {
  margin-right: 1rem;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background: var(--color-primary);
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .container.portfolio__container
  {
    width: var(--container-width-md);
  }

  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container.portfolio__container
  {
    width: var(--container-width-sm);
  }

  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
