#contact h2 {
  color: var(--color-titles);
  margin-bottom: 0;
}

.sentMessage {
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
}

.contact__option {
  margin-bottom: 1rem;
}

.contact__option:last-child {
  margin-bottom: 0;
}

.contact__option a {
  cursor: pointer;
}

.contact__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

textarea {
  width: 100%;
  resize: none;
}

.contact__form button {
  font-size: 1rem;
  outline: none;
}

.btn-send {
  width: 135px;
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .contact__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
  .contact__options {
    grid-template-columns: 1fr;
  }

  .contact__options a {
    display: flex;
    justify-content: center;
  }
  .sentMessage {
    font-size: 0.65rem;
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-light);
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--color-light);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(
    to right,
    var(--color-btn),
    var(--color-primary)
  );
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1.1rem;
  color: var(--color-btn);
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
