header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__container h5 {
  color: var(--color-titles);
}

/* CTA */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

/* Socials */

.header__socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 40px;
  top: 85px;
  opacity: 0.25;
}

.header__socials a {
  font-size: 3rem;
}

/* Profile Image */

.me {
  background: linear-gradient(transparent, var(--color-bg-profile-variant));
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.4);
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 4.5rem 1.5rem 1.5rem 1.5rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}

