#footer {
  position: relative;
  margin-top: 5rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-profile);
}

.footer__logo {
  position: absolute;
  top: -30px;
  left: calc(50% - 1.9rem);
  width: 60px;
  height: 60px;
  margin-bottom: 3rem;
  transition: var(--transition);
}

.footer__logo:hover {
  filter: drop-shadow(1px 1px 5px var(--color-white));
}

.footer__socials {
  margin-top: 2rem;
  font-size: 1.5rem;
  gap: 0.7rem;
  display: flex;
}

.footer__copy {
  margin-bottom: 4rem;
}
