.experience__container {
  display: grid;
  place-items: center;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border: 1px solid var(--color-primary-variant);
}

.experience__container h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 2rem;
}
.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icons {
  margin-top: 0.35rem;
  font-size: 1.3rem;
  color: var(--color-primary);
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .experience__container > div {
    padding: 2rem;
    width: 80%;
  }

  .experience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
