nav {
  display: flex;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.08);
  width: max-content;
  padding: 0.7rem 1.7rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
}

nav a {
  background: transparent;
  display: flex;
  padding: 0.5rem;
  color: var(--color-light);
  font-size: 1.3rem;
  border-radius: 50%;
}

nav a:hover,
nav a.active {
  background: var(--color-bg);
  color: var(--color-primary);
}
